<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="FILE-LOCAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/berlin-backend.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>logs/berlin-backend.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <!-- keep 10 days of history, capped at 1GB total size -->
                <maxHistory>10</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE-LOCAL"/>
        </root>
    </springProfile>

    <springProfile name="build">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="development,integration,production,env">
        <appender name="STDOUT-OPENSHIFT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <appender name="FILE-OPENSHIFT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/tmp/berlin-backend.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/tmp/berlin-backend.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <maxHistory>10</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="STDOUT-OPENSHIFT"/>
            <appender-ref ref="FILE-OPENSHIFT"/>
        </root>
    </springProfile>

</configuration>